<link rel="stylesheet" href="css/user.css">
<h1>
    user :  <%= name  %>
</h1>
<script>
    function filter() {
    var keyword = document.getElementById("search").value;
    var select = document.getElementById("select");
    for (var i = 0; i < select.length; i++) {
        var txt = select.options[i].text;
        if (txt.substring(0, keyword.length).toLowerCase() !== keyword.toLowerCase() && keyword.trim() !== "") {
            select.options[i].style.display = 'none';
        } else {
            select.options[i].style.display = 'list-item';
        }
    }
}
</script>
<form action="/dashboard/add-book" method="POST">
    <table>
        <tr>
            <td>Name of book</td>
            <td>:</td>
            <td><input type="text" name='book_name'></td>
        </tr>
        <tr>
            <td>Name of author</td>
            <td>:</td>
            <td><input type="text" name='aut_name'></td>
        </tr>
        <tr>
            <td>Author Country</td>
            <td>:</td>
            <td><input type="text" name='country'></td>
        </tr>
        
        <tr>
        <td>Book Language</td>
        <td>:</td>
        <td><input type="text" name='lang'></td>
    </tr>
    <tr>
        <td>Cover Page of the Book</td>
        <td>:</td>
        <td><input type="file" name='cover'></td>
    </tr>               
    <tr>
        <td>IBN Number</td>
        <td>:</td>
        <td><input type="text" name='ibn'></td>
    </tr> 
    <tr>
        <td>Discrpition</td>
        <td>:</td>
        <td><input type="text" name='info'></td>
    </tr> 
    <tr>
        <td>Link to Purchace</td>
        <td>:</td>
        <td><input type="text" name='link'></td>
    </tr>
    <tr>
        <td>Year of Publication</td>
        <td>:</td>
        <td><input type="text" name='year'></td>
    </tr>
    <tr>
        <td>Book Genere</td>
        <td>:</td>
        <td><input type="text" name='genere'></td>
    </tr>
    <button type="submit">Submit</button>
</table>
</form>