<form action='/dashboard/add' method='post'>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
    Name of book : <input type='text' name='title'><br>
    IBN number of book :<input type='text' name='ibn'><br>
    Lang : <input type='text' name='lang'><br>
    file : <input type='file' name='cover'><br>
    link :  <input type='text' name='link'><br>
    dis  : <textarea name='details'>
    </textarea><br>
    genre : <input type='text' name='genre'><br>
    year : <input type='text' name='year'><br>
    <button value='submit'>Submit</button>
</form>