
<link rel="stylesheet" href="/css/user/books/add.css">
<link rel="stylesheet" href="/css/user/user.css">
<form action='add' method='post' id='add'>
    <table>
        <tr>
            <td>Name of book</td>
            <td>:</td>
            <td><input type='text' name='title'></td>
        </tr>
        <tr>
            <td>Lang</td>
            <td>:</td>
            <td> <input type='text' name='lang'></td>
        </tr>
        <tr>
            <td>file</td>
            <td>:</td>
            <td><input type='file' name='cover'></td>
        </tr>
        <tr>
            <td>dis</td>
            <td>:</td>
            <td><textarea name='details'>
            </textarea></td>
        </tr>
        <tr>
            <td>genre</td>
            <td>:</td>
            <td><input type='text' name='genre'></td>
        </tr>
        <tr>
            <td>IBN</td>
            <td>:</td>
            <td><input type='text' name='ibn'></td>
        </tr>
        <tr>
            <td>year</td>
            <td>:</td>
            <td><input type='text' name='year'></td>
        </tr>
    </table>
    <button value='submit'>Submit</button>
</form>