<link rel="stylesheet" href="css/user.css">
<style>
body{
 background-image: url('../pics/images/login-desktop.jpg');
}

.login{
    box-shadow:red 1px 1px 2px;
    background-color: #fffffff0;
    position:fixed;
    top:50%;
    left:40%;
    opacity: .5;
    text-align:center;
    justify-content:center;
}

table{
    padding:20px 20px 20px 20px;
    opacity: 1;
    text-align:left;
    border-spacing: px;
}
</style>
<div class='login'>
    <h1>Login</h1>
<form action="/login" method="POST">
    <h3>
        <% if (messages.error)  { %>
            <%= messages.error  %>
          <% } %>
    </h3>
    <table> 
        <tr>
            <td>email</td>
            <td>:</td>
            <td><input type="email" name="email" id="email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>:</td>
            <td><input type="password" name="password"></td>
        </tr collapse='2'>
        <td><button type="submit">Login</button></td>
    </table>
</form>
</div>