<form id="register" method="get" action="/register">    
    <label><b>User Name     
    </label>    
    <input type="text" name="Uname" id="Uname" placeholder="Username">    
    <br><br>    
    <label><b>Password     
    </b>    
    sele
    </label>    
    <input type="Password" name="Pass" id="Pass" placeholder="Password">    
    <br><br>     
    <label><b>Email Id 
    </b>    
    </label>    
    <input type="email" name="email" id="email" placeholder="Email">    
    <br><br>    
    <input type="button" name="reg" id="reg" value="Register">       
    <br><br>    
    <input type="checkbox" id="check">    
    <span>Already a member?</span>    
    <br><br>    
    <a href="#">Login in here</a>    
</form>     