<link rel="stylesheet" href="css/user.css">
<style>
    body{
 background-image: url('../pics/images/reg-desktop.jpg');
}
.login{
    box-shadow:red 1px 1px 2px;
    background-color: #fffffff0;
    position:fixed;
    top:50%;
    left:40%;
    opacity: .8;
    text-align:center;
    justify-content:center;
}

table{
    padding:20px 20px 20px 20px;
    opacity: 1;
    text-align:left;
    border-spacing: px;
}
</style>
<div class='login'>
    <h1>Register</h1>
<form action="/register" method="POST">
    <table> 
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" id='name' name="name"></td>
        </tr>
        <tr>
            <td>email</td>
            <td>:</td>
            <td><input type="email" id='email' name="email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>:</td>
            <td><input type="password" id="password" name="password"></td>
        </tr collapse='2'>
        <td><button type="submit">Register</button></td>
    </table>
</form>
</div>