
.change #l1{
    height: 100%;
    border-radius: 90%;
    transform: translateY(-10px) rotateZ(-90deg);
    opacity: 0;
    height: 50px;
    background-color: cornflowerblue;
    transition:visibility 0s 2s, opacity 2s linear;
}

.change #burger{
   width: auto;
    height: auto;
    margin: auto;
    position:fixed;
    top:10%;
    right:7%;
}

.change #l3{
    opacity: 0;
    border-radius: 90%;
    height: 50px;
    transition:visibility 0s 2s, opacity 2s linear;
    border-radius: 90%;
    background-color: cornflowerblue;
    transform: translateY(-10px) rotateZ(90deg);
}

.change #l2{
    background-image: url('../pics/icon/x.jpg');
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    height: 50px;
    transform: translateY(-10px) rotateZ(90deg);
}
