*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    margin-right: 10%;
    position: fixed;
}
nav{
    height:20vh;
    background-color:rgb(204, 208, 226);
}
#burger{
    display:none;
}

.links{
    display:flex;
    height:100%;
    width:45%;
    list-style: none;
    margin-left: 50%;
    margin-right:5%;
    justify-content:space-around;
    align-items:center;
    font-size:20px;
}
.links li a{
    color:rgb(18, 77, 172);
    text-decoration: none;
}