<link rel="stylesheet" href="css/user/user.css">
<style>
    body{
    background-image: url('../pics/images/reg-desktop.jpg');
   }
</style>
<form action="/register" method="POST">
    <h1><%- error %></h1>
    <table>
        <tr>
            <td>Name</td>
            <td>:</td>
            <td><input type="text" name="name"></td>
        </tr>
        <tr>
            <td>Email</td>
            <td>:</td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr>
            <td>Password</td>
            <td>:</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td><button type="submit">I am in</button></td>
        </tr>
    </table>
</form>