.login{
    box-shadow:red 1px 1px 2px;
    background-color: #fffffff0;
    position:fixed;
    top:50%;
    left:40%;
    opacity: .5;
    text-align:center;
    justify-content:center;
}

table{
    padding:20px 20px 20px 20px;
    opacity: 1;
    text-align:left;
}
form{
    position:fixed;
    top:50%;
    left:40%;
    background-color: aliceblue;
}

@media screen and (max-width: 700px){
    .login{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        box-shadow:red 1px 1px 2px;
        background-color: #fffffff0;
        position:fixed;
        top:50%;
        left:40%;
        opacity: .5;
        text-align:center;
        justify-content:center;
    }
    
    table{
        padding:20px 20px 20px 20px;
        opacity: 1;
        text-align:left;
    }
    form{
        position:fixed;
        top:50%;
        left:40%;
        background-color: aliceblue;
    }
}