<link rel="stylesheet" href="css/user/user.css">
<div>
<div class='profile-pic'></div>
<div class='user-info'></div>
<div class='user-books'>
    <div>Total number of books added by <%= user %> : 0</div>
</div>
</div>
