<link rel="stylesheet" href="css/user/add.css">
<link rel="stylesheet" href="css/user/user.css">
<div class='profile-pic'></div>
<div class='user-info'></div>
<div class='user-books'>
    <div>Total number of books added by <%= user %> : 0</div>
    <a href="/dashboard/add">add book</a>
</div>
</div>
